/** Screen sixes */
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 2560px;

/** Background Colors */

/** Font sizes */
$text-primary: 1.6rem;
$text-small: 1.2rem;
$text-large: 1.8rem;
$text-xlarge: 2.4rem;

/** Text colors*/
